<div class = "tittle" >
   <h1>Sign in</h1>
</div>

<div class="formulario_signin">
<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class = "form">
   		<%= f.label :email ,:class => "label" %><br />
   		<%= f.text_field :email , :placeholder => "Your email" , :style=>'width: 190px',:class => "field"%>
  	</div>
  	<div class = "form">
  		<%= f.label :password ,:class => "label" %><br />
    	<%= f.password_field :password , :placeholder => "Your password" , :style=>'width: 190px',:class => "field"%>
  	</div>
 	<div class="actions" id = "env">
		<%= f.submit "Sign in", :class => "enviar" %>
	</div>
<% end %>
</div>
	<img src="/images/caja_logo.png" alt="logo welcome" id = "caja_logo" />
		    

<p id = "new_user">New user? <%= link_to "Sign up now!", signup_path %></p>


			    
