<h1> UPSSSS ERROOR </h1>

<div class = "formulario">

<%= form_for(@user) do |f| %>

   <%= render 'shared/error_messages', :object => f.object %>
  <div >
    <%= f.label :name %>
    <%= f.text_field :name , :placeholder => "Your name" , :style=>'width: 140px',:class => "field"%>
  </div>
  <div >
    <%= f.label :email %>
    <%= f.text_field :email , :placeholder => "Your email" , :style=>'width: 140px',:class => "field"%>
  </div>
  <div >
    <%= f.label :password %>
    <%= f.password_field :password , :placeholder => "Your password" , :style=>'width: 140px',:class => "field"%><br />
  </div>
  <div >
    <%= f.label :password_confirmation, "Confirmation" %><br/>
    <%= f.password_field :password_confirmation , :placeholder => "repeat password" , :style=>'width: 140px',:class => "field"%>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" ,:class => "enviar"%>
  </div>
<% end %>

</div>