<h1>Sign up</h1>

<div class = "formulario">

<%= form_for(@user) do |f| %>
   <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name , :placeholder => "Your name" , :style=>'width: 140px'%>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email , :placeholder => "Your email" , :style=>'width: 140px'%>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password , :placeholder => "Your password" , :style=>'width: 140px'%>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation , :placeholder => "repeat password" , :style=>'width: 140px'%>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" ,:class => "enviar"%>
  </div>
<% end %>

</div>