<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
     <div id = "fondo_profile">
     <h1>
        <%= @user.name %>
      </h1>
      <ul id = "photo_profile">
      	   
      	   <% if !@user.photos.empty? %>
      	      <% for photo in @user.photos %>
	             <%= image_tag photo.avatar.url(:medium) %>
		      <% end %>
		   <% else %>
		       <img src="/images/missing_medium.png" alt="photo" id = "photo_medium" /> 
	       <% end %> 
	         
      	</ul>
      </div>
      <%= render 'follow_form' if signed_in? %>
      <% unless @user.microposts.empty? %>
      <div id = "micropost_profile">
         <table class="microposts" summary="User microposts" >
            <%= render @microposts %>
         </table>
         <%= will_paginate @microposts %>
      <% end %>
      </div>
    </td>
    <div id = "more_info"></div>
    <td class="sidebar_profile">
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>



    </td>
    <td class="sidebar">
      </td>