<div class="container_12">
	
	<% if signed_in? %>
       <table class="front" summary="For signed-in users">
          <tr>
             <td class="main">
                <h1 class="micropost">What's up?</h1>
                <%= render 'shared/micropost_form' %>
                <%= render 'shared/feed' %>
             </td>
             <td class="sidebar round">
                <%= render 'shared/user_info' %>
                <%= render 'shared/stats' %>
        
             </td>
          </tr>
      </table>
  <% else %>
  <div class=" grid_4 suffix_2">
		<p class= desc> 
			¿No eres un Sticky User aún? 
			<br><%= link_to "Registrate", signup_path %></li>
		</p>
	</div>
	<div class= "grid_6">

		<p class= desc> 
			Descripcion 
		</p>
	</div>
<div class="clear"></div> 
</div>
<% end %>
		
