	<div class= "container_12 " > 
	<% if signed_in? %>
       <table class="front" summary="For signed-in users">
          <tr>
          	<img src="/images/nube.png" alt="nube" id= "nube_home" />
          	<td class="sidebar">
                <%= render 'shared/user_info' %>
                <%= render 'shared/stats' %>
        
             </td>
             
          </tr>
      	</table>
      	<h1 class="micropost">New Sticky Note</h1>
          <%= render 'shared/micropost_form' %>
          <div id = feed_back>
      	 <%= render 'shared/feed' %>
      	 </div>
      	  </div>
  	<% else %>
  	</div>
  			<img src="/images/caja_logo.png" alt="logo welcome" id = "caja_logo" />
		
			<div class= "formulario " > 
				<%= form_for(:user, :url => users_path, :html => { :multipart => true }) do |f| %>

  					<div>
    					<%= f.label :name,:class => "label" %><br />
  						<%= f.text_field :name , :placeholder => "Your name" , :style=>'width: 190px' ,:class => "field"%>
  					</div>
  					<div >
   						 <%= f.label :email ,:class => "label" %><br />
   						 <%= f.text_field :email , :placeholder => "Your email" , :style=>'width: 190px',:class => "field"%>
  					</div>
  					<div >
  						<%= f.label :password ,:class => "label" %><br />
    					<%= f.password_field :password , :placeholder => "Your password" , :style=>'width: 190px',:class => "field"%>
  					</div>
  					<div>
    					<%= f.label :password_confirmation, "Confirmation" ,:class => "label"  %><br />
    					<%= f.password_field :password_confirmation , :placeholder => "repeat password" , :style=>'width: 190px',:class => "field"%>
  					</div>
  					
  					  <div class="actions">
   							 <%= f.submit "Update" ,:class => "enviar"%>
  						</div>
				<% end %>

			</div>

		<% end %>
	<div class="clear"></div> 
	
	
	
	
		
