<div class="container_12">
	
	<% if signed_in? %>
       <table class="front" summary="For signed-in users">
          <tr>
             <td class="main">
                <h1 class="micropost">What's up?</h1>
                <%= render 'shared/micropost_form' %>
                <%= render 'shared/feed' %>
             </td>
             <td class="sidebar">
             	<img src="/images/post-it.png" alt="post-it" id= "post-it_home" />
                <%= render 'shared/user_info' %>
                <%= render 'shared/stats' %>
        
             </td>
          </tr>
      	</table>
  	<% else %>
			<p> 
				¿No eres un Sticky User aún? 
				<br><%= link_to "Registrate", signup_path %></li>
			</p>
			<div class= "grid_3 push_8 " > 
				<%= form_for(:user, :url => users_path, :html => { :multipart => true }) do |f| %>

  					<div>
    					<%= f.label :name %><br />
  						<%= f.text_field :name , :placeholder => "Your name" , :style=>'width: 140px' ,:class => "field"%>
  					</div>
  					<div >
   						 <%= f.label :email %><br />
   						 <%= f.text_field :email , :placeholder => "Your email" , :style=>'width: 140px',:class => "field"%>
  					</div>
  					<div >
  						<%= f.label :password %><br />
    					<%= f.password_field :password , :placeholder => "Your password" , :style=>'width: 140px',:class => "field"%>
  					</div>
  					<div>
    					<%= f.label :password_confirmation, "Confirmation" %><br />
    					<%= f.password_field :password_confirmation , :placeholder => "repeat password" , :style=>'width: 140px',:class => "field"%>
  					</div>
  					<div>
  				       <%= f.file_field :avatar %></p>
                    
                    </div>
  					<div class="actions">
    					<%= f.submit "Sign up" ,:class => "enviar"%>
  					</div>
				<% end %>

			</div>

		<% end %>
	<div class="clear"></div> 
	
	
	
	
		
