<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <div id = "global">
  <body>
  	  
      <%= render 'layouts/header' %>
        
      	<img src="/images/cloud0.png" alt="nube" id = "cloud01" />
      	<img src="/images/cloud0.png" alt="nube" id = "cloud02" />
      	<img src="/images/cloud0.png" alt="nube" id = "cloud03" />
		<img src="/images/cloud0.png" alt="nube" id = "cloud04" />    
		<img src="/images/cloud1.png" alt="nube" id = "cloud11" />  
		<img src="/images/cloud1.png" alt="nube" id = "cloud12" />
		<img src="/images/cloud1.png" alt="nube" id = "cloud13" />     
		<img src="/images/cloud1.png" alt="nube" id = "cloud14" />   
		<img src="/images/cloud2.png" alt="nube" id = "cloud21" />
      	<img src="/images/cloud2.png" alt="nube" id = "cloud22" />
      	<img src="/images/cloud2.png" alt="nube" id = "cloud23" />	
      	<img src="/images/cloud2.png" alt="nube" id = "cloud24" />
		<img src="/images/first.png" alt="fondo base" id= "base" />	
		<img src="/images/fair.png" alt="casa y tierra" id= "fair" />
		<img id="noria" src="/images/noria.png" alt="noria" 
	            onmouseover= src="/images/noria.gif" alt="noria" id = "noria"   
                onmouseout= src='/images/noria.png'  />
		<img src="/images/carrito.gif" alt="carrito de monta単a rusa" id= "carrito" />
		<img src="/images/monta単a_rusa.png" alt="monta単a rusa" id= "monta単a_rusa" />
      <% flash.each do |key, value| %>
         <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      
      <%= render 'layouts/footer' %>
        <div class="debug">
		<%= debug(params) if Rails.env.development? %>
		</div>
		  
  </body>
  </div>
</html>

