<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  
  <body>
  	  
      <%= render 'layouts/header' %>
		<img src="/images/first.png" alt="first" id= "base" />  
		<img src="/images/fair.png" alt="casa y tierra" id= "fair" />
		<img src="/images/noria.gif" alt="noria" id= "noria" />
		<img src="/images/carrito.gif" alt="carrito de monta単a rusa" id= "carrito" />
		<img src="/images/monta単a_rusa.png" alt="monta単a rusa" id= "monta単a_rusa" />
      <% flash.each do |key, value| %>
         <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      
      <%= render 'layouts/footer' %>
        <div class="debug">
		<%= debug(params) if Rails.env.development? %>
		</div>
  </body>
</html>

